.filetable tr td:first-of-type .icon{
    width: 30px;
    height: 30px;
}

#offlineHeader{
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    padding-top:10px;
    padding-bottom:10px;
    background: #000000;
    color: #383D3C;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left:10px;
}

/*registration at guest.php*/
#registration{
    position: absolute;
    top: 50px;
    right: 50px;
    position: absolute;
            top: 10px;
            right: 10px;
            color: #FFFFFF;
            text-align:right;
}

#registration span{
            position: absolute;
            width: 200px;
            margin-left: -205px;
            font-size: 17pt;
            margin-top: 7px;
            text-align: right;
}

#registration a:link{
    color: #FFFFFF;
}

#registration li{
    height: 37px;
            width: 220px;
}

#registration li span:empty{
    display:none;
}

#registration .captchaContainer{
    display:none;
}

#registration #regUsername{
    -webkit-border-bottom-right-radius: 0px;
            -webkit-border-bottom-left-radius: 0px;
            -moz-border-radius-bottomright: 0px;
            -moz-border-radius-bottomleft: 0px;
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px;
}

#registration #password{
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
            border-top: 0;
}

#registration #passwordRepeat{
    -webkit-border-top-left-radius: 0px;
            -webkit-border-top-right-radius: 04px;
            -moz-border-radius-topleft: 0px;
            -moz-border-radius-topright: 0px;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-top: none;
            margin-top: -1px;
}

#regLoad{
    display:none;margin-top: 20px;
            margin-right: 20px;
            color: #FFFFFF;
            max-width:150px;
            text-align:left;
}
/*registration end*/
    
#startbox {
	    position: absolute;
	    bottom: 40px;
	    left: 0px;
            background-color: #607d8b;
            box-shadow: 1px 3px 8px 0px rgba(0, 0, 0, 0.3);
            width: 360px;
            height: 190px;
            padding: 20px;
}

#startbox input[type=text],#startbox input[type=password]{
    width: 100%;
    height: 40px;
    padding: 7px;
    font-size: 16px;
    color: #313131;
    margin-bottom: 15px;
    border: none;
}

.border-radius {
	    border-radius: 6px;
	    -o-border-radius: 6px;
	    -moz-border-radius: 6px;
	    -khtml-border-radius: 6px;
	    -webkit-border-radius: 6px;
}

.border-top-right-radius {
	    border-top-right-radius: 6px;
	    -o-border-top-right-radius: 6px;
	    -moz-border-top-right-radius: 6px;
	    -khtml-border-top-right-radius: 6px;
	    -webkit-border-top-right-radius: 6px;
}

.text-shadow{
   		text-shadow:0 0 1px #fff, 2px 2px 3px #fff, -3px -3px 5px #fff, -3px 3px 5px #fff, 3px -3px 5px #fff;
}


.margin{
    margin-left: 20px;
}

#topThing #socialBar{
        margin-left: 5px;
        margin-right: 5px;
}

#topThing #socialBar a{
        height: 22px;
        width: 22px;
        padding: 1px;
}
#topThing #socialBar a:hover{
        background: #3E3E3E;
}

#topThing #socialBar img{
        height: 20px;
        width: 20px;
        margin-bottom: -5px;
}
			
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
        #topThing, #guestInfoBox, #betaBox{
                display:none;
        }

        #bodyWrap{
                top:5px;
        }

        #startMainHeader {
                width: 320px;
        }

        #loginForm input[type=text], #loginForm input[type=password]{
                max-width: 120px;
        }
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}






/*new guestpage stuff*/
#guestArea #header{
    width:360px; margin-bottom:25px;
    display:block;
    margin: 25px 10px;
}

#guestArea #subheader{
    width:848px;
    display:block;
    margin-bottom: 25px;
    margin-left: 10px;
}

.guestBox{
    background-color:  #37474f;
    box-shadow: 1px 3px 8px 0px rgba(0, 0, 0, 0.3);
    width: 365px;
    height: 270px;
    float:left;
    color:#FFF;
    margin-bottom: 10px;
}

.guestBox.registerBox{
    background-color:  #607d8b;
    margin-left: 20px;
}

.guestBox.registerBox img{
    display:none;float: left;
}

.guestBox.registerBox p{
    float: right;
    margin-right: 25px;
    max-width: 405px;
    margin-top: 5px;
    line-height: 24px;
}

.guestBox h2{
    margin-top: 15px;
    margin-left: 20px;
}

.guestBox a:link, .guestBox a:visited{
    color: #FFF;
    text-decoration: underline;
}

.guestBox input[type=text], .guestBox input[type=password]{
    width: 320px;
    height: 40px;
    margin-top: 10px;
    border:none;
}

.guestBox input{
    clear:both;
    display: block;
    margin-left: 20px;
}

.guestBox input[type=submit]{
    display: inline-block;
    float: right;
    border: none;
}

.guestBox .image{
    height: 130px;
    padding: 10px;
    text-align: center;
}

.guestBox p{
    margin-top:0;
    margin: 10px;
    font-size:20px;
}

.guestBox ul{
    margin: 15px;
    margin-top: 9px;
}

.guestBox ul li{
    clear: left;
}

.guestBox ul li img{
    width: 57px;
    height: 57px;
    float: left;
    margin-bottom: 8px;
    
}
.guestBox ul li span{
    float: left;
    width: 265px;
    margin-left: 10px;
    margin-top: 8px;
}

#dock #searchField{
    height: 35px;
    left: 215px;
    bottom: 2.5px;
    border: none;
}

.arrow-right {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #790125;
    margin-left: -15px;
    float: left;
    padding: 0;
}

.regError{
    display: none;
    position: absolute;
    background-color: #790125;
    margin-top: -35px;
    height: 30px;
    line-height: 30px;
    color: #FFF!important;
    padding-right: 5px;
    text-align: left;
    width: 300px;
    margin-left: 325px;
}

.regError>a:hover{
    text-decoration: none;
}

.regError>*{
    color:#FFF!important;
}