/* Icons from directory "" */
.icon-archive,.icon-archive\:regular{background-image:url('icons/icons.svg');background-position:0 0;background-repeat:no-repeat}
.icon-archive-dims{width:32px;height:32px}
.icon-arrow-down,.icon-arrow-down\:regular{background-image:url('icons/icons.svg');background-position:0 -32px;background-repeat:no-repeat}
.icon-arrow-down-dims{width:32px;height:32px}
.icon-arrow-left,.icon-arrow-left\:regular{background-image:url('icons/icons.svg');background-position:0 -64px;background-repeat:no-repeat}
.icon-arrow-left-dims{width:32px;height:32px}
.icon-arrow-right,.icon-arrow-right\:regular{background-image:url('icons/icons.svg');background-position:0 -96px;background-repeat:no-repeat}
.icon-arrow-right-dims{width:32px;height:32px}
.icon-arrow-up,.icon-arrow-up\:regular{background-image:url('icons/icons.svg');background-position:0 -128px;background-repeat:no-repeat}
.icon-arrow-up-dims{width:32px;height:32px}
.icon-bell,.icon-bell\:regular{background-image:url('icons/icons.svg');background-position:0 -160px;background-repeat:no-repeat}
.icon-bell-dims{width:32px;height:32px}
.icon-calendar,.icon-calendar\:regular{background-image:url('icons/icons.svg');background-position:0 -192px;background-repeat:no-repeat}
.icon-calendar-dims{width:32px;height:32px}
.icon-cart,.icon-cart\:regular{background-image:url('icons/icons.svg');background-position:0 -224px;background-repeat:no-repeat}
.icon-cart-dims{width:32px;height:32px}
.icon-chart,.icon-chart\:regular{background-image:url('icons/icons.svg');background-position:0 -256px;background-repeat:no-repeat}
.icon-chart-dims{width:32px;height:32px}
.icon-check,.icon-check\:regular{background-image:url('icons/icons.svg');background-position:0 -288px;background-repeat:no-repeat}
.icon-check-dims{width:32px;height:32px}
.icon-chevron-down,.icon-chevron-down\:regular{background-image:url('icons/icons.svg');background-position:0 -320px;background-repeat:no-repeat}
.icon-chevron-down-dims{width:32px;height:32px}
.icon-chevron-left,.icon-chevron-left\:regular{background-image:url('icons/icons.svg');background-position:0 -352px;background-repeat:no-repeat}
.icon-chevron-left-dims{width:32px;height:32px}
.icon-chevron-right,.icon-chevron-right\:regular{background-image:url('icons/icons.svg');background-position:0 -384px;background-repeat:no-repeat}
.icon-chevron-right-dims{width:32px;height:32px}
.icon-chevron-up,.icon-chevron-up\:regular{background-image:url('icons/icons.svg');background-position:0 -416px;background-repeat:no-repeat}
.icon-chevron-up-dims{width:32px;height:32px}
.icon-clock,.icon-clock\:regular{background-image:url('icons/icons.svg');background-position:0 -448px;background-repeat:no-repeat}
.icon-clock-dims{width:32px;height:32px}
.icon-close,.icon-close\:regular{background-image:url('icons/icons.svg');background-position:0 -480px;background-repeat:no-repeat}
.icon-close-dims{width:32px;height:32px}
.icon-comment,.icon-comment\:regular{background-image:url('icons/icons.svg');background-position:0 -512px;background-repeat:no-repeat}
.icon-comment-dims{width:32px;height:32px}
.icon-credit-card,.icon-credit-card\:regular{background-image:url('icons/icons.svg');background-position:0 -544px;background-repeat:no-repeat}
.icon-credit-card-dims{width:32px;height:32px}
.icon-dislike,.icon-dislike\:regular{background-image:url('icons/icons.svg');background-position:0 -576px;background-repeat:no-repeat}
.icon-dislike-dims{width:32px;height:32px}
.icon-envelope,.icon-envelope\:regular{background-image:url('icons/icons.svg');background-position:0 -608px;background-repeat:no-repeat}
.icon-envelope-dims{width:32px;height:32px}
.icon-exclamation,.icon-exclamation\:regular{background-image:url('icons/icons.svg');background-position:0 -640px;background-repeat:no-repeat}
.icon-exclamation-dims{width:32px;height:32px}
.icon-external-link,.icon-external-link\:regular{background-image:url('icons/icons.svg');background-position:0 -672px;background-repeat:no-repeat}
.icon-external-link-dims{width:32px;height:32px}
.icon-eye,.icon-eye\:regular{background-image:url('icons/icons.svg');background-position:0 -704px;background-repeat:no-repeat}
.icon-eye-dims{width:32px;height:32px}
.icon-folder,.icon-folder\:regular{background-image:url('icons/icons.svg');background-position:0 -736px;background-repeat:no-repeat}
.icon-folder-dims{width:32px;height:32px}
.icon-gear,.icon-gear\:regular{background-image:url('icons/icons.svg');background-position:0 -768px;background-repeat:no-repeat}
.icon-gear-dims{width:32px;height:32px}
.icon-heart,.icon-heart\:regular{background-image:url('icons/icons.svg');background-position:0 -800px;background-repeat:no-repeat}
.icon-heart-dims{width:32px;height:32px}
.icon-image,.icon-image\:regular{background-image:url('icons/icons.svg');background-position:0 -832px;background-repeat:no-repeat}
.icon-image-dims{width:32px;height:32px}
.icon-like,.icon-like\:regular{background-image:url('icons/icons.svg');background-position:0 -864px;background-repeat:no-repeat}
.icon-like-dims{width:32px;height:32px}
.icon-link,.icon-link\:regular{background-image:url('icons/icons.svg');background-position:0 -896px;background-repeat:no-repeat}
.icon-link-dims{width:32px;height:32px}
.icon-location,.icon-location\:regular{background-image:url('icons/icons.svg');background-position:0 -928px;background-repeat:no-repeat}
.icon-location-dims{width:32px;height:32px}
.icon-lock,.icon-lock\:regular{background-image:url('icons/icons.svg');background-position:0 -960px;background-repeat:no-repeat}
.icon-lock-dims{width:32px;height:32px}
.icon-logout,.icon-logout\:regular{background-image:url('icons/icons.svg');background-position:0 -992px;background-repeat:no-repeat}
.icon-logout-dims{width:32px;height:32px}
.icon-maximize,.icon-maximize\:regular{background-image:url('icons/icons.svg');background-position:0 -1024px;background-repeat:no-repeat}
.icon-maximize-dims{width:32px;height:32px}
.icon-minimize,.icon-minimize\:regular{background-image:url('icons/icons.svg');background-position:0 -1056px;background-repeat:no-repeat}
.icon-minimize-dims{width:32px;height:32px}
.icon-minus,.icon-minus\:regular{background-image:url('icons/icons.svg');background-position:0 -1088px;background-repeat:no-repeat}
.icon-minus-dims{width:32px;height:32px}
.icon-navicon,.icon-navicon\:regular{background-image:url('icons/icons.svg');background-position:0 -1120px;background-repeat:no-repeat}
.icon-navicon-dims{width:32px;height:32px}
.icon-paperclip,.icon-paperclip\:regular{background-image:url('icons/icons.svg');background-position:0 -1152px;background-repeat:no-repeat}
.icon-paperclip-dims{width:32px;height:32px}
.icon-pencil,.icon-pencil\:regular{background-image:url('icons/icons.svg');background-position:0 -1184px;background-repeat:no-repeat}
.icon-pencil-dims{width:32px;height:32px}
.icon-play,.icon-play\:regular{background-image:url('icons/icons.svg');background-position:0 -1216px;background-repeat:no-repeat}
.icon-play-dims{width:32px;height:32px}
.icon-plus,.icon-plus\:regular{background-image:url('icons/icons.svg');background-position:0 -1248px;background-repeat:no-repeat}
.icon-plus-dims{width:32px;height:32px}
.icon-pointer,.icon-pointer\:regular{background-image:url('icons/icons.svg');background-position:0 -1280px;background-repeat:no-repeat}
.icon-pointer-dims{width:32px;height:32px}
.icon-question,.icon-question\:regular{background-image:url('icons/icons.svg');background-position:0 -1312px;background-repeat:no-repeat}
.icon-question-dims{width:32px;height:32px}
.icon-redo,.icon-redo\:regular{background-image:url('icons/icons.svg');background-position:0 -1344px;background-repeat:no-repeat}
.icon-redo-dims{width:32px;height:32px}
.icon-refresh,.icon-refresh\:regular{background-image:url('icons/icons.svg');background-position:0 -1376px;background-repeat:no-repeat}
.icon-refresh-dims{width:32px;height:32px}
.icon-retweet,.icon-retweet\:regular{background-image:url('icons/icons.svg');background-position:0 -1408px;background-repeat:no-repeat}
.icon-retweet-dims{width:32px;height:32px}
.icon-sc-facebook,.icon-sc-facebook\:regular{background-image:url('icons/icons.svg');background-position:0 -1440px;background-repeat:no-repeat}
.icon-sc-facebook-dims{width:32px;height:32px}
.icon-sc-github,.icon-sc-github\:regular{background-image:url('icons/icons.svg');background-position:0 -1472px;background-repeat:no-repeat}
.icon-sc-github-dims{width:32px;height:32px}
.icon-sc-google-plus,.icon-sc-google-plus\:regular{background-image:url('icons/icons.svg');background-position:0 -1504px;background-repeat:no-repeat}
.icon-sc-google-plus-dims{width:32px;height:32px}
.icon-sc-instagram,.icon-sc-instagram\:regular{background-image:url('icons/icons.svg');background-position:0 -1536px;background-repeat:no-repeat}
.icon-sc-instagram-dims{width:32px;height:32px}
.icon-sc-linkedin,.icon-sc-linkedin\:regular{background-image:url('icons/icons.svg');background-position:0 -1568px;background-repeat:no-repeat}
.icon-sc-linkedin-dims{width:32px;height:32px}
.icon-sc-twitter,.icon-sc-twitter\:regular{background-image:url('icons/icons.svg');background-position:0 -1600px;background-repeat:no-repeat}
.icon-sc-twitter-dims{width:32px;height:32px}
.icon-sc-vk,.icon-sc-vk\:regular{background-image:url('icons/icons.svg');background-position:0 -1632px;background-repeat:no-repeat}
.icon-sc-vk-dims{width:32px;height:32px}
.icon-search,.icon-search\:regular{background-image:url('icons/icons.svg');background-position:0 -1664px;background-repeat:no-repeat}
.icon-search-dims{width:32px;height:32px}
.icon-share-apple,.icon-share-apple\:regular{background-image:url('icons/icons.svg');background-position:0 -1696px;background-repeat:no-repeat}
.icon-share-apple-dims{width:32px;height:32px}
.icon-share-google,.icon-share-google\:regular{background-image:url('icons/icons.svg');background-position:0 -1728px;background-repeat:no-repeat}
.icon-share-google-dims{width:32px;height:32px}
.icon-star,.icon-star\:regular{background-image:url('icons/icons.svg');background-position:0 -1760px;background-repeat:no-repeat}
.icon-star-dims{width:32px;height:32px}
.icon-tag,.icon-tag\:regular{background-image:url('icons/icons.svg');background-position:0 -1792px;background-repeat:no-repeat}
.icon-tag-dims{width:32px;height:32px}
.icon-trash,.icon-trash\:regular{background-image:url('icons/icons.svg');background-position:0 -1824px;background-repeat:no-repeat}
.icon-trash-dims{width:32px;height:32px}
.icon-trophy,.icon-trophy\:regular{background-image:url('icons/icons.svg');background-position:0 -1856px;background-repeat:no-repeat}
.icon-trophy-dims{width:32px;height:32px}
.icon-undo,.icon-undo\:regular{background-image:url('icons/icons.svg');background-position:0 -1888px;background-repeat:no-repeat}
.icon-undo-dims{width:32px;height:32px}
.icon-unlock,.icon-unlock\:regular{background-image:url('icons/icons.svg');background-position:0 -1920px;background-repeat:no-repeat}
.icon-unlock-dims{width:32px;height:32px}
.icon-user,.icon-user\:regular{background-image:url('icons/icons.svg');background-position:0 -1952px;background-repeat:no-repeat}
.icon-user-dims{width:32px;height:32px}