
        body{
        background:#ffffff;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 14px;
		line-height: 20px;
		color: #333333;
        }

		a, a:link, a:hover {
		color: #0088cc;
		text-decoration: none;
		}

        table {
          max-width: 100%;
          background-color: transparent;
          border-collapse: collapse;
          border-spacing: 0;
        }

        .table {
          width: 100%;
          margin-bottom: 20px;
        }

        .table th,
        .table td {
          padding: 8px;
          line-height: 20px;
          text-align: left;
          vertical-align: top;
          border-top: 1px solid #dddddd;
        }

        .table th {
          font-weight: bold;
        }

        .table thead th {
          vertical-align: bottom;
        }
        
        body{
            margin:0px;
        }
        
        .fileTable{
            width:100%;
        }
        
        .strippedRow:first-child {background:rgb(202, 216, 230)}
        .strippedRow:nth-child(2n+3) {background:rgb(202, 216, 230)}
        
        .watermark{
        	position: fixed;
        	bottom:0px;
        	right:0px;
        	background: rgba(0,0,0,0.8);
        	color: #FFFFFF;
        	padding: 5px 2px 0 5px;
        }
        
        .watermark a{
        	color: #FFFFFF;
        }
        

		.gray-gradient {
			box-shadow:0px 0px 0px rgb(0, 0, 0);
			-moz-box-shadow:0px 0px 0px rgb(0, 0, 0);
			-webkit-box-shadow:0px 0px 0px rgb(0, 0, 0);
			background-color: rgb(255, 255, 255);
			background-image:linear-gradient(-90deg, rgb(238, 238, 238), rgb(204, 204, 204));
			background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, from(rgb(238, 238, 238)), to(rgb(204, 204, 204)));
			background-image:-moz-linear-gradient(-90deg, rgb(238, 238, 238), rgb(204, 204, 204));
		    background-image:-ie-linear-gradient(-90deg, rgb(238, 238, 238), rgb(204, 204, 204));
		    color: #3b4043;
		}
		

	.openFile header{
		height:40px;
		padding-top: 0px;
		cursor: default;
	}
	
	.openFile header > img{
		float: left;
		margin-top: 10px;
	}
	
	.openFile header .title{
		float:left;
		font-size: 16pt;
		margin-top: 10px;
		margin-left: 5px;
		overflow:hidden;
		max-width: 30%;
		line-height: 30px;
		height: 30px;
	}
	.openFile header span{
		float:right;
		margin-top: 9px;
		margin-right:5px;
	}
	
	.openFile header .download{
		margin-top:12px;
	}
	
	.openFile header .download img{
		margin: 1.5px;
	}

	.readerImageTab{
	    position: absolute;
	    top: 40px;
	    right: 0px;
	    bottom: 100px;
	    left: 0px;
	    overflow: auto;
	    background: #000000;
	}
            .uffViewerMain{
                position: absolute;
                top: 40px;
                right: 150px;
                bottom: 0px;
                left: 0px;
                overflow: auto;
            }
            
            .uffViewerMain ol{
                list-style-type:decimal;
            }
            
            .uffViewerMain li{
                height: auto;
            }

            .uffViewerNav{
                position: absolute;
                top: 40px;
                right: 0px;
                bottom: 0px;
                width: 150px;
                background: #FFFFFF;
                border-left: 1px solid #c9c9c9;
            }
            
            .uffDocumentSettings{
                position: absolute;
                margin-top: 40px;
                background: #E5E5E5;
                height: 24px;
                padding: 3px;
                border-bottom: 1px solid #c9c9c9;
                border-right: 1px solid #c9c9c9;
            }
            
            .cke_editor_1{
                position: absolute;
                top: 0px;
                right: 150px;
                bottom: 0px;
            }
