
    <div id="dock">
        <table>
            <tr valign="top">
                <td><div id="personalButton" class="button">Log In</div></td>
                <td><div id="moduleMenu" class="button">Applications</div></td>
                <!-- <td><div id="modulePlayer" class="module">&nbsp;&nbsp;Player</div></td> -->
                <td align="right"><input type="text" name="searchField" id="searchField" placeholder="search"></td>
                <td align="right" id="clockDiv" style="color: #FFFFFF; float: right"></td>
            </tr>
        </table>
    </div>