    <div id="dockMenu" class="fancy" style="display: none">
        <header>universeOS&nbsp;</header>
        <ul class="appList">

            <li class="" onclick="filesystem.show()" onmouseup="closeDockMenu()"><i class="icon icon-folder" style="height:16px;width:16px;"></i>&nbsp;&nbsp;Filesystem</li>
            <li class="" onclick="reader.show()" onmouseup="closeDockMenu()"><img src="./gfx/viewer.png" border="0" height="16">&nbsp;&nbsp;Reader</li>
        </ul>
        <div>
        </div>
    </div>
