
        <div id="guestArea">
            <img src="gfx/guest/guest_header.svg" alt="universe" id="header">
            <img src="gfx/guest/guest_subheader.svg" alt="universe" id="subheader">
            <div class="guestBox registerBox">
                <h2>Sign Up</h2>
                <div class="pull-left">
                    <form id="registrationForm">
                    <input type="text" id="regUsername" placeholder="Your Username" class="checkReg">
                    <span id="checkUsernameStatus" class="regError"><div class="arrow-right"></div></span>
                    <input type="password" id="password" placeholder="Your Password" class="checkReg">
                    <span id="checkPasswordStatus" class="regError"><div class="arrow-right"></div></span>
                    <input type="password" style="margin-bottom:15px;" id="passwordRepeat" placeholder="Repeat Password" class="checkReg">
                    <span style="display: inline-block;padding-top: 10px"><input type="checkbox" style="display: inline-block;" class="checkRegBox"> I accept the <a href="#">terms</a></span>
                    <input type="hidden" value="" id="checkReg">
                    <input type="submit" class="button" value="Sign me up!">
                    </form>
                </div>
                <img src="gfx/loading-bubbles.svg" width="150" height="150">
                <p>
                    Lorem Ipsum Supidubu bbaskd jaskaj sdfakshkgjsfdbsnk
                </p>
            </div>
            <div class="guestBox" id="clearBox">
                <div class="image"><img src="gfx/guest/guest_01.svg" style="height: 100px;margin-top: 15px;"/></div>
                <p>save, organize and share your files</p>
            </div>
            <div class="guestBox">
                <div class="image"><img src="gfx/guest/guest_02.svg" style="height: 100px;margin-top: 15px;"/></div>
                <p>use public files and make your files accesible</p>
            </div>
            <div class="guestBox">
                <div class="image"><img src="gfx/guest/guest_03.svg" style="height: 100px;margin-top: 15px;"/></div>
                <p>present yourself and stay in touch with your buddies</p>
            </div>
            <div class="guestBox">
                <div class="image"><img src="gfx/guest/guest_04.svg" style="height: 100px;margin-top: 15px;"/></div>
                <p>encrypt your data and communication</p>
            </div>
        </div>
        