
        <div id="guestArea">
            <img src="gfx/guest/guest_header.svg" alt="universe" id="header">
            <p style="color:#FFF; font-size: 38px;" id="subheader">Welcome to the universeOS – the first social webOS</p>
            <div class="guestBox registerBox">
                <h2>Sign Up</h2>
                <div class="pull-left">
                    <form id="registrationForm">
                    <input type="text" id="regUsername" placeholder="Your Username" class="checkReg">
                    <span id="checkUsernameStatus" class="regError"><div class="arrow-right"></div></span>
                    <input type="password" id="password" placeholder="Your Password" class="checkReg">
                    <span id="checkPasswordStatus" class="regError"><div class="arrow-right"></div></span>
                    <input type="password" style="margin-bottom:15px;" id="passwordRepeat" placeholder="Repeat Password" class="checkReg">
                    <span style="display: inline-block;padding-top: 10px"><input type="checkbox" style="display: inline-block;" class="checkRegBox" name="checkTemrs"> <label for="checkTerms">I accept the <a href="http://wiki.transparency-everywhere.com/en/index.php/Policy" target="_blank">terms</a></label></span>
                    <input type="hidden" value="" id="checkReg">
                    <input type="submit" class="button" value="Sign me up!">
                    </form>
                </div>
                <img src="gfx/loading-bubbles.svg" width="150" height="150">
            </div>
            <div class="guestBox" id="clearBox">
                <ul id="regHintBox">
                    <li>Warning!</li>
                    <li>The development of the universeOS is on hold at the moment. We won't fix bugs or security issues at the moment.</li>
                    <li>Visit our <a href="https://github.com/transparency-everywhere/universeOS">Github Page</a> for more Infos.</li>
                </ul>
            </div>
        </div>
        