
        <div id="guestArea">
            <img src="gfx/guest/guest_header.svg" alt="universe" id="header">
            <img src="gfx/guest/guest_subheader.svg" alt="universe" id="subheader">
            <div class="guestBox registerBox">
                <h2>Sign Up</h2>
                <div class="pull-left">
                    <form id="registrationForm">
                    <input type="text" id="regUsername" placeholder="Your Username" class="checkReg">
                    <span id="checkUsernameStatus" class="regError"><div class="arrow-right"></div></span>
                    <input type="password" id="password" placeholder="Your Password" class="checkReg">
                    <span id="checkPasswordStatus" class="regError"><div class="arrow-right"></div></span>
                    <input type="password" style="margin-bottom:15px;" id="passwordRepeat" placeholder="Repeat Password" class="checkReg">
                    <span style="display: inline-block;padding-top: 10px"><input type="checkbox" style="display: inline-block;" class="checkRegBox"> I accept the <a href="#">terms</a></span>
                    <input type="hidden" value="" id="checkReg">
                    <input type="submit" class="button" value="Sign me up!">
                    </form>
                </div>
                <img src="gfx/loading-bubbles.svg" width="150" height="150">
            </div>
            <div class="guestBox" id="clearBox">
                <ul>
                    <li><img src="gfx/guest/icon_01.svg"><span>encrypt your data<br>and communication</span></li>
                    <li><img src="gfx/guest/icon_02.svg"><span>present yourself and<br>stay in touch with your buddies</span></li>
                    <li><img src="gfx/guest/icon_03.svg"><span>save, organize and<br>share your files</span></li>
                    <li><img src="gfx/guest/icon_04.svg"><span>use public files and<br>make your files accessible</span></li>
                </ul>
            </div>
        </div>
        