    <!--login menu-->
    <div class="box-shadow" id="startbox" style="display: none;">
                <form method="post" target="submitter" id="loginForm" onsubmit="login(); return false;">
                    <table width="100%" valign="center">
                        <tr valign="top">
                            <td><input type="text" placeholder="username" id="loginUsername"></td>
                        </tr>
                        <tr>
                            <td><input type="password" placeholder="password" id="loginPassword"></td>
                        </tr>
                        <tr>
                            <td><input type="submit" value="Log In" name="submit" class="button pull-right"></td>
                        </tr>
                    </table>
                </form>
    </div>
    <!--/login menu-->