
html {
	height:100%;
	width:100%;
}
body {
	color: #000;
	background-color: #f6f6f6;
	font-family: verdana, arial, helvetica, geneva, sans-serif;
	font-style: normal;
	line-height: 1.333em;
	font-weight: normal;
	font-variant: normal;
	margin: 0;
	padding: 0;
}

ul {
    list-style-type: none;
} 

li {
background: #bfd255; /* Old browsers */
}

a:link { 
font-family:Verdana,Arial,Helvetica;
font-size:11pt;
text-decoration:none;
color:#000000;
} 

a:visited { 
font-family:Verdana,Arial,Helvetica;
font-size:11pt;
text-decoration:none;
color:#000000;
} 

a:active { 
font-family:Verdana,Arial,Helvetica;
font-size:11pt;
text-decoration:none;
color:#000000;
} 

a:hover { 
font-family:Verdana,Arial,Helvetica;
font-size:13pt;
text-decoration:none;
color:#808080;
} 

.windowFooter {
    position:absolute;
    left:0px;
    right:0px;
    bottom:0px;
}

.windowHeader {
    position:absolute;
    left:0px;
    right:0px;
    top:0px;
}