/* reset */
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 0;
	margin-left: 5%
%;
	margin-right: 5%;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0%;
	padding-right: 0;
	padding-top: 0;
}

body {
background-color: #FFF;
font-size: 0.95em;
font-family: Arial, SunSans-Regular, Sans-Serif;
color:#564b47;
}


/* -------------- navigavtion------------- */
nav {
	font-size: 16px;
	color: #fff;
	width: 15%;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	border-color: #000000;
	border-right: 1px solid #000;
	min-height: 100%;
	padding-right: 20px;
	padding-top: 20px;
	background-color: #666;
	text-align: center;
}

/* ----------------- content--------------------- */


section#content {
	padding: 20px;
	background-color: #CCC;
	max-width: 800px;
	min-width: 550px;
	margin-bottom: 0;
	margin-left: 20%;
	margin-right: 0;
	margin-top: 20px;
	border-right: 1px solid #000;
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
	border-radius: 10px;
}

/* -----------footer--------------------------- */
footer { border-top: 1px solid #ccc; }

/*------------button----------------------------*/
.Button {
	-moz-box-shadow:inset 0px 1px 3px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 3px 0px #ffffff;
	box-shadow:inset 0px 1px 3px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e0dce0) );
	background:-moz-linear-gradient( center top, #f9f9f9 5%, #e0dce0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e0dce0');
	background-color:#f9f9f9;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0px;
	border:1px solid #cfcbcf;
	display:inline-block;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:30px;
	line-height:30px;
	width:80px;
	text-decoration:none;
	text-align:center;
}
.Button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e0dce0), color-stop(1, #f9f9f9) );
	background:-moz-linear-gradient( center top, #e0dce0 5%, #f9f9f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0dce0', endColorstr='#f9f9f9');
	background-color:#e0dce0;
}.Button:active {
	position:relative;
	top:1px;
}