body {
	color: #000;
	background-color: #FFF;
	font-family: verdana, arial, helvetica, geneva, sans-serif;
	font-style: normal;
	line-height: 1.333em;
	font-weight: normal;
	font-variant: normal;
	margin: 0;
	padding: 0;
}

profilewrap > div {
    background-color: #FFF;
}

ul{
    list-style-type: none;
    padding: 5px; 
}

.border-box {
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.border-radius {
    border-radius: 6px;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
    -khtml-border-radius: 6px;
    -webkit-border-radius: 6px;
}


.shadow {
    -webkit-box-shadow: 0 1px 2px hsla(0,0%,0%,0.25);
    -moz-box-shadow: 0 1px 2px hsla(0,0%,0%,0.25);
    -o-box-shadow: 0 1px 2px hsla(0,0%,0%,0.25);
    -khtml-box-shadow: 0 1px 2px hsla(0,0%,0%,0.25);
    box-shadow: 0 1px 2px hsla(0,0%,0%,0.25);
}

#profileWrap {
    position: absolute;
    margin-top: 20%;
    margin-left: 50%;
    width: 200px;
    height: 150px;
    background-color: #FFF;
    z-index: 9999;
    overflow: auto;
}

.profileElement{
    margin-top: 20;
    margin-right: 20;
    margin-left: 20;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    background-color: #7abcff;
    overflow: hidden;
    
}


#profileInfo img {
    float: left;
}
.autoFlow{
    overflow: auto;
}
.floatLeft {
    float: left;
}

.buttonGradient{
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* IE10+ */
    background: linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}

.buttonBorder{
    outline: 1px solid #8f8f8f;
}

.grayButton{
    color: #4d4d4d;
}

.flLeft{
    float: left;
}
